<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/main.css">
    <title>{{ titulo }}</title>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light ">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">Skifree</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon "></span>
            </button>

            <div class="collapse navbar-collapse justify-content-end" id="navbarColor03">
            
                <ul class="navbar-nav ms-md-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="/area">Area</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/about">Sobre</a>
                    </li>

                    {{#if isLogged}}

                    <li class="nav-item">
                        <a class="nav-link" href="/jogo">Jogar</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="/curso">Curso</a>
                    </li>

                     <li class="nav-item">
                        <a class="nav-link" href="/logout">Logout</a>
                    </li>

                    {{else}}
                    <li class="nav-item">
                        <a class="nav-link" href="/login">Login</a>
                    </li>
                   
                    <li class="nav-item">
                        <a class="nav-link" href="/signup">Sign Up</a>
                    </li>
                    {{/if}}
                    
                </ul>

            </div>
        </div>
    </nav>

   
        {{{ body }}}
  
    <footer id="footer">
        <div class="row">
          <div class="col-12">
           
            <p>Made by <a href="https://thomaspark.co/">Thomas Park</a>.</p>
            <p>Code released under the <a href="https://github.com/thomaspark/bootswatch/blob/master/LICENSE">MIT License</a>.</p>
            <p>Based on <a href="https://getbootstrap.com/" rel="nofollow">Bootstrap</a>. Icons from <a href="https://fontawesome.com/" rel="nofollow">Font Awesome</a>. Web fonts from <a href="https://fonts.google.com/" rel="nofollow">Google</a>.</p>

          </div>
        </div>
      </footer>
</div>
<script src="/js/bootstrap.bundle.js"></script>
<script src="/js/jquery.min.js"></script>
<script src="/js/popper.min.js"></script>

</body>
</html>