
<div class="container">
        
    <img src="img/skifree.png" width="100%">
</div>

<div>
    <h3 style="margin-left: 30px;" class="text-black">Skifree</h3>
    <p class="text-black">
        Neste jogo aparentemente simples, porém muito divertido, você controla um esquiador que vai descendo uma montanha passando por vários obstáculos até que encontra o Abominável Homem das Neves.
    </p>

    <p class="text-black">
        Skifree foi desenvolvido por Chris Pirih, ex programador da Microsoft que, com o objetivo de aprender a programar em Windows, resolveu fazer a versão gráfica do seu jogo de esqui para VAX/VMS.
    </p>
    
    <p class="text-black">
        O primeiro jogo de esqui foi feito para terminais VT100. Como pode ser visto abaixo, a tela era composta por duas barras que representavam o esquiador e o lado para o qual ele estava virado, e os símbolos ^ eram as árvores. O jogo foi feito usando apenas texto no terminal.
    </p>
    
    <p class="text-black">
        Skifree foi desenvolvido em C, apenas com objetivo de aprendizado e entretenimento. Porém, um dia enquanto Chris estava jogando no trabalho, o Gerente de Programas do Windows Entertainment Pack viu o jogo e gostou muito da ideia. Chris deu ao seu jogo o nome de WinSki, mas o pessoal do marketing da Microsoft preferiu que o seu nome fosse Skifree, e assim ficou, mesmo após uma certa resistência por parte e criador.
    </p>
    
    <p class="text-black">
        Atualmente Skifree está na versão 1.04, lançada em abril de 2005 com melhorias para execução em sistemas operacionais mais novos e correção de bugs.

    </p>
</div>
    
    

    
