
<div id="montanha">
    <div id="skier"></div>
  </div>

  <div id="placar">
    <h3 id="textPlacar">Placar</h3>

    <span id="textMetros"> Metros percorridos: </span> <span id="metros">0</span><br />
    <span id="textVidas"> Vidas restantes: </span> <span id="vidas">3</span><br/> <br/>
    <span id="textVel"> Velocidade: </span> <span id="velocidade">20 m/s</span> <br/><br/>
    <span id="mensagem"></span>

  </div>

  <div id="regras">
    <h2> Regras do Jogo </h2>
    <p>Use as setas ⇠ ⇢ ou A D para desviar dos obstáculos. <br/> <br/>
      Para aumentar a velocidade use F ou W. <br/> <br/>
      Cogumelo dá vidas :D  <br/> <br/>
      Divirta-se!
    <p>
    
    

  </div>

<script src="/js/script.js"></script>
